@model UserManagementMVCExample.Models.Order

@{
    ViewData["Title"] = "Make an order";
}

<h1>Make an order</h1>
<h4>We are going to use your profile name, email and phone number for delivery information. 
    You only need to enter the delivery address and the time of delivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MakeAnOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeliveryAdress" class="control-label"></label>
                <input asp-for="DeliveryAdress" class="form-control" />
                <span asp-validation-for="DeliveryAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTime" class="control-label"></label>
                <input asp-for="DeliveryTime" class="form-control" />
                <span asp-validation-for="DeliveryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Go to checkout" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
