@model UserManagementMVCExample.Models.Order

@{
}
@section Scripts{
    <script src="https://js.braintreegateway.com/web/dropin/1.21.0/js/dropin.min.js"></script>
    <script>
        var client_token = "@ViewBag.ClientToken";
        const form = document.querySelector('#payment-form');

        braintree.dropin.create({
            authorization: client_token,
            container: '#bt-dropin',
            paypal: {
                flow: 'vault'
            }
        }, function (createErr, instance) {
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                instance.requestPaymentMethod(function (err, payload) {
                    if (err) {
                        console.log('Error', err);
                        return;
                    }
                    // Step four: when the user is ready to complete their
                    //   transaction, use the dropinInstance to get a payment
                    //   method nonce for the user's selected payment method, then add
                    //   it a the hidden field before submitting the complete form to
                    //   a server-side integration
                    document.querySelector('#nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    </script>
}
    <form method="post" asp-action="Payment" id="payment-form">
        <h1>Make an order</h1>
        <h4>
            We are going to use your profile name, email and phone number for delivery information.
            You only need to enter the delivery address and the time of delivery
        </h4>
        <div class="wrapper">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DeliveryAdress" class="control-label"></label>
                <input asp-for="DeliveryAdress" class="form-control" />
                <span asp-validation-for="DeliveryAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryTime" class="control-label"></label>
                <input asp-for="DeliveryTime" class="form-control" />
                <span asp-validation-for="DeliveryTime" class="text-danger"></span>
            </div>
            <div class="checkout container">
                <header>
                    <h4 class="text-info">
                        Make a transaction for your delivery.
                        You can use credit card or paypal
                    </h4>
                </header>
                <section>
                    <div class="bt-drop-in-wrapper">
                        <div id="bt-dropin"></div>
                    </div>
                </section>
                <input id="nonce" name="payment_method_nonce" type="hidden" />
                <button class="btn btn-primary" id="submit-button"><span>Order and pay</span></button>
            </div>
        </div>
    </form>



