@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lotus Sushi</h1>
    <i>Delivering happiness to your home.</i>
    <p>Lotus Sushi is a sample ASP.NET Core Web Application for sushi delivery.</p>
</div>
